/*---------- Tipografias ----------*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Roboto:wght@400;700&display=swap');


/*---------- Estilos generales ----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #272F32;
    background-color: #9DBDC6;
}

main {
    width: 100%;
    height: 100%;
}


/*---------- Encabezado ----------*/
header {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    padding: 0 20px;
    position: fixed;
}

header .logo {
    width: 50px;
    height: 50px;
    transition: 1s;
}

header .logo:hover {
    transform: rotateZ(360deg) scale(1.1);
}

.navegacion {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.navegacion .navegacion__link a {
    color: #DAEAEF;
    font-weight: 400;
    text-decoration: none;
    margin: 2px;
    padding: 10px 20px;
    transition: background-color 1s;
}

.navegacion .navegacion__link a:hover {
    color: #333;
    background-color: #DAEAEF;
    border-radius: 2px;
}


/*---------- Inicio ----------*/
/*---------- Hero ----------*/
.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__img {
    width: 200px;
    height: 200px;
    margin-top: 100px;
    margin-bottom: 10px;
}

.hero__titulo {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em; /* 40px */
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    margin-bottom: 5px;
}

.hero__subtitulo {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em; /* 20px */
    font-weight: 400;
    margin-bottom: 20px;
}

.hero__boton {
    color: #FFF;
    background-color: #FF3D2E;
    border-radius: 5px;
    border: 3px solid #bb0e05;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bolder;
    transition: transform 1s;
}

.hero__boton:hover {
    color: #FFF;
    background-color: #ed281e;
    transform: scale(1.2);
}


/*---------- Bio ----------*/
.bio {
    padding: 100px;
}

.bio__titulo {
    font-family: 'Roboto', sans-serif;
    font-size: 2.2em;
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
}


/*---------- Mis habilidades ----------*/
.skills {
    padding: 120px;
}
.skills__titulo {
    font-family: 'Roboto', sans-serif;
    font-size: 2.2em;
    font-weight: 400;
    text-align: center;
    padding-top: 100px;
}

.skills-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.skills-icons__img {
    width: 130px;
    height: 120px;
    margin: 10px;
}


/*---------- Servicios ----------*/
.servicios__contenedor {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.servicios__titulo {
    font-family: 'Roboto', sans-serif;
    font-size: 2.2em;
    font-weight: 400;
    text-align: center;
    padding-top: 120px;
}

.card {
    background-color: #FFF;
    border-radius: 5px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 25px;
    text-align: center;
    box-shadow: 5px 5px 10px -10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 10px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 10px -10px rgba(0, 0, 0, 0.75);
}

.card-img-top {
    width: 150px;
    height: 150px;
}

.card-title {
    font-size: 1.5em;
    margin: 10px;
}


/*---------- Mis trabajos ----------*/
.trabajos__titulo {
    font-size: 2.2em;
    font-weight: 400;
    text-align: center;
    padding-top: 120px;
}

.grid-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 230px;
    gap: 25px;
}

.grid-container .trabajos-cards {
    transition: 1s;
}

.grid-container .trabajos-cards:hover {
    transform: scale(1.2);
}

.grid-container .trabajos-cards .trabajos-cards__img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 5px 5px 15px -10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 15px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 15px -10px rgba(0, 0, 0, 0.75);
}


/*---------- Contacto ----------*/
.contacto__titulo {
    font-size: 2.2em;
    font-weight: 400;
    text-align: center;
    padding-top: 120px;
}


/*---------- Footer ----------*/
footer {
    background-color: #272F32;
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer ul {
    display: flex;
}

footer ul li {
    padding: 0 5px;
    list-style: none;
}

footer small {
    color: #FFF;
    margin-top: 15px;
}

.social-img {
    width: 45px;
    height: 45px;   
}

.github,
.linkedin,
.twitter {
    transition: 1s;
}

.github:hover {
    background-color: #333;
    border-radius: 100%;
    transform: scale(1.1);
}

.linkedin:hover {
    background-color: #0966C2;
    border-radius: 100%;
    transform: scale(1.1);
}

.twitter:hover {
    background-color: #1A8CD9;
    border-radius: 100%;
    transform: scale(1.1);
}


/*---------- Responsive ----------*/
@media screen and (max-width: 550px) {

    /*---------- Servicios ----------*/
    .servicios__titulo {
        padding-top: 120px;
    }

    /*---------- Mis trabajos ----------*/
    .trabajos__titulo {
        padding-top: 150px;
    }

    .grid-container {
        grid-template-columns: repeat(2,1fr);
    }
    
}


@media screen and (max-width: 1000px) {

    /*---------- Encabezado ----------*/
    .navegacion {
        flex-direction: column;
        text-align: center;
    }

    /*---------- Hero ----------*/
    .hero__img {
        margin-top: 100px;
    }

    /*---------- Mis habilidades ----------*/
    .skills__titulo {
        padding-top: 120px;
    }

    /*---------- Servicios ----------*/
    .servicios__titulo {
        padding-top: 120px;
    }

    .servicios div {
        flex-direction: column;
        align-items: center;
    }

    /*---------- Mis trabajos ----------*/
    .trabajos__titulo {
        padding-top: 120px;
    }
    .grid-container {
        grid-template-columns: repeat(1,1fr);
    }

    /*---------- Contacto ----------*/
    .contacto__titulo {
        padding-top: 120px;
    }

    .contacto__form {
        width: 75%;
        margin: 0 auto;
    }

    .contacto__mapa {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
}