@import "../base/variables";
@import "../base/extends";


/*---------- Footer ----------*/
footer {
    width: $width;
    height: 150px;
    @extend %flex;
    flex-direction: column;
    ul {
        display: flex;
        justify-content: center;
        padding-left: 0;
        li {
            padding: 0 5px;
            list-style: none;
        }
    }
    small {
        color: #FFF;
        margin-top: 15px;
    }
}

.social-img {
    width: 30px;
    height: 30px;   
}

.github,
.linkedin,
.twitter {
    transition: 1s;
}

.github {
    &:hover {
        background-color: #333;
        @extend %social;
    }
}

.linkedin {
    &:hover {
        background-color: #0966C2;
        @extend %social;
    }
}

.twitter {
    &:hover {
        background-color: #1A8CD9;
        @extend %social;
    }
}