$boton:(
    color-texto: #fff,
    bg-boton: #FF3D2E,
    border-radius: 5px,
    border-boton: 3px solid #bb0e05,
    text-decoration: none,
    espacio-interno: 10px 20px,
    peso-fuente: bolder,
    transicion: transform 1s,
);